@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

p {
    margin: 0px;
}

#tagcloud a {
    font-family: 'Roboto', sans-serif;
}