<div class="dropdown">
    <input autocomplete="off" type="text" id="itemSearch" name="str" data-toggle="dropdown" class="form-control dropdown-toggle" />
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    </ul>
    <li class="li-clone visually-hidden"><a class="dropdown-item" href="#"></a></li>
</div>
