@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-action="SearchItem" asp-controller="Ajax" method="get">
    <input type="text" id="itemSearch" name="str"/>
    <input type="submit"/>
</form>


@*
@section Scripts {
    <script>
        $('#itemSearch').on('input', function () {
            console.log(1234);
            $.ajax({
                type: "GET",
                url: '@Url.Action("SearchItem","ajax")',
                data: {
                    str: $('#itemSearch').val()
                },
                success: function (msg) {
                    console.log(msg);
                },
                error: function (req, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
}*@
